<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reports</title>

    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/reports.css">
    <link href="./css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="./js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="./js/speedometer.js"></script>
    <script src="./libraries/p5.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="./css/jquery-ui.css">
    <script src="./js/jquery-ui.js"></script>
    <script src="./js/dataTables.buttons.min.js"></script>
    <script src="./js/buttons.flash.min.js"></script>
    <script src="./js/jszip.min.js"></script>
    <script src="./js/pdfmake.min.js"></script>
    <script src="./js/vfs_fonts.js"></script>
    <script src="./js/buttons.html5.min.js"></script>
    <script src="./js/buttons.print.min.js "></script>
    <script src="./js/buttons.colVis.min.js "></script>
</head>
<body>
    <div class="page-container">
        <div class="box box-1">
            <div class="header-block">
                <div class="header-sub-col">
                    <div id="mySidenav" class="sidenav">
                      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                      <a href="/">Dashboard</a>
                      <a href="/reports">Reports</a>
                    </div>                
                    <div class="navigation-btn">
                        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                    </div>
                </div>
                <div class="header-sub-col header-center">
                    <div id="dashobard-header-title">
                        <h1>Trenchless Engineering Services Pvt Ltd</h1>
                    </div>
                    <div>
                        <div class="log-container">
                            <div>
                                <img src="./img/admin-logo.png" width="60" alt="" />
                            </div>
                            <div class="log-txt">
                                <div>AMERICAN</div>
                                <div>AUGERS</div>                                
                            </div>
                            <div class="log-txt" style="font-style: italic;">&nbsp;DD-220T</div>
                        </div>
                    </div>                
                </div>
                <div class="header-sub-col right">
                    <h1 id="digital-clock"></h1>                
                </div>
            </div>
        </div>
        <div class="filters-section">
            <div class="filters-left">
                <div id="download-buttons"></div>                
            </div>
            <div class="filters-right">
              <p><span id="start_error"></span>&nbsp;&nbsp;<input type="text" id="datepicker-1" placeholder="Start Date">&nbsp;TO&nbsp;<input type="text" id="datepicker-2" placeholder="End Date"></p>  
            </div>
        </div>
        <div class="box box-2">
            <div class="data-table-container">
                <table id="data-listing" class="display" style="width:100%">
                    <thead>
                        <tr>
                          <th>Date</th>                          
                          <th>Time</th>                          
                          <th>Rotary Pressure</th>                          
                          <th>Carriage Pressure</th>                          
                          <th>Mud Pressure</th>                          
                          <th>Vice Pressure</th>                          
                          <th>Carriage Position</th>                          
                          <th>Rotary RPM</th>                          
                          <th>Battery Voltage</th>                          
                          <th>Fuel Level</th>                          
                        </tr>
                    </thead>
                </table>                
            </div>
        </div>
        <div class="box box-3">
        </div>
    </div>
<script src="./js/moment.min.js"></script>
<script src="./js/main.js"></script>
<script src="./js/statistics.js"></script>
</body>
</html>